@font-face {
    font-family: norwester;
    src: url(norwester.otf);
}

header { 
    font-size: 80px;
    color: white;
    background-color: #0062cf ;
    text-align: center;
}

nav {
    
    background-color: #799534;
    word-spacing: 40px;
    text-align: center;
    
    
}

a {
    font-size: 40px;
    color: white;
    text-decoration: none;
    
}

nav a:hover{
    background-color: #EB6800;
}

div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
aside {
   background-color: #008EB7;
   color: white;
   float: left;
   width: 200px;
   height: 600px;
   display: flex;
   flex-direction: column;
}

h2 {
    color: white;
    font-style: italic;
    font-size: 30px;
    text-align: center;
    
}

p {
    color: white;
    font-size: large;
    text-align: center;
}

img {
    align-items: center;
}
