header { 
    font-size: 80px;
    color: white;
    background-color: #0062cf ;
    text-align: center;
}

nav {
    
    background-color: #799534;
    word-spacing: 40px;
    text-align: center;
    
    
}

a {
    font-size: 40px;
    color: white;
    text-decoration: none;
    
}

nav a:hover{
    background-color: #EB6800;
}